<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PapagoClientID</key>
	<string>FWrqCje_fP44uWfeKMLc</string>
	<key>PapagoClientSecret</key>
	<string>nRoQ3s2yEe</string>
</dict>
</plist>
